<<<<<<< HEAD
body {
  font-family: sans-serif;
  background: linear-gradient(135deg,#667eea,#764ba2);
  color: white;
  transition: 0.3s;
}

.dark {
  background: #121212;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

input, select, button {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
}

li {
  background: rgba(255,255,255,0.2);
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.overdue {
  border-left: 5px solid red;
}

.timer {
  text-align: center;
}

#time {
  font-size: 40px;
}
=======
body {
  font-family: sans-serif;
  background: linear-gradient(135deg,#667eea,#764ba2);
  color: white;
  transition: 0.3s;
}

.dark {
  background: #121212;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

input, select, button {
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}

button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.1);
}

li {
  background: rgba(255,255,255,0.2);
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.overdue {
  border-left: 5px solid red;
}

.timer {
  text-align: center;
}

#time {
  font-size: 40px;
}
>>>>>>> b4f028adc26795dcf957209121a8d55586d0aed2
